body{
    background-color: #4b3f72;
}

@media screen and (max-width: 424px){

    .titleSelectCards{
        background-color: #1f2041;
        color:white;
        font-size: 3em;
        text-align: center;
    }

    .instructionsSelectCards{
        color:antiquewhite;
        font-size: 1.2em;
        text-align: center;
    }

    .mainContainer{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;  
        gap:10px; 
        width: 90vw;
        position: relative;
        left: 3vw;
    }
    
    .mainGrid{
        border-bottom: 3px solid #ffc857;
        padding: 5vw;
    }

     img{
        width:18vw
    }
}

@media screen and (min-width: 425px){

    .titleSelectCards{
        background-color: #1f2041;
        color:white;
        font-size: 3em;
        text-align: center;
    }

    .instructionsSelectCards{
        color:antiquewhite;
        font-size: 1.2em;
        text-align: center;
    }

    .mainContainer{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;  
        gap:10px; 
        width: 90vw;
        position: relative;
        left: 3vw;
    }
    
    .mainGrid{
        border-bottom: 3px solid #ffc857;
        padding: 5vw;
    }

     img{
        width:18vw
    }
}

@media screen and (min-width: 768px){

    .titleSelectCards{
        background-color: #1f2041;
        color:white;
        font-size: 3em;
        text-align: center;
    }

    .instructionsSelectCards{
        width: 90vw;
        position: relative;
        left:5vw;
        color:antiquewhite;
        font-size: 1.5em;
        text-align: center;
    }

    .mainContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
        gap:10px; 
        width: 90vw;
        position: relative;
        left: 3vw;
    }
    
    .mainGrid{
        border-bottom: 3px solid #ffc857;
        padding: 5vw;
    }

     img{
        width:9vw
    }
}

@media screen and (min-width: 1024px){

    .titleSelectCards{
        background-color: #1f2041;
        color:white;
        font-size: 3em;
        text-align: center;
    }

    .instructionsSelectCards{
        width: 90vw;
        position: relative;
        left:5vw;
        color:antiquewhite;
        font-size: 1.8em;
        text-align: center;
    }

    .mainContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;  
        gap:10px; 
        width: 90vw;
        position: relative;
        left: 3vw;
    }
    
    .mainGrid{
        border-bottom: 3px solid #ffc857;
        padding: 5vw;
    }

     img{
        width:8vw
    }
}

@media screen and (min-width: 1440px){

    .titleSelectCards{
        background-color: #1f2041;
        color:white;
        font-size: 3em;
        text-align: center;
    }

    .instructionsSelectCards{
        width: 90vw;
        position: relative;
        left:5vw;
        color:antiquewhite;
        font-size: 1.8em;
        text-align: center;
    }

    .mainContainer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;  
        gap:10px; 
        width: 90vw;
        position: relative;
        left: 3vw;
    }
    
    .mainGrid{
        border-bottom: 3px solid #ffc857;
        padding: 5vw;
    }

     img{
        width:5vw
    }
}